body {
 background-image: url("https://photos.google.com/share/AF1QipOYOY4foLgcSBO5REw8OBA4m92hjury9h3rQ229s2Wl3xSYANutT0sO9z0_R5eJqg?key=ZFNwUlUxSjQ0ZjBOUTVCclpIU3dkcW1CZHg5azhn");
}

.comingsoon {
 color: white;
 text-align: center;
}
